<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>俺のページ</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <img class="logo" src="static/datas/page_icon.png" alt="">
        <nav>
            <ul>
                <li><a href="/" role="button">ホーム</a></li>
                <li><a href="/tweetlist" role="button">ツイート保留所</a></li>
                <li><a href="/alltweet" role="button">ツイート待機場</a></li>
                <li><a href="/userlist" role="button">ユーザーリスト</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>