<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>俺のページ</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h3>
            <a href="/" role="button">ホーム</a>
            <a href="/tweetlist" role="button">ツイート保留所</a>
            <a href="/alltweet" role="button">ツイート待機場</a>
            <a href="/userlist" role="button">ユーザーリスト</a>
        </h3>
    </div>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>